body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    background: url('../img/background.png') no-repeat;
    background-size: cover;
}

.dashboard-header {
    background-color: #000000;
    
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.dashboard-header h1 {
    color: #428235; /* Match the header color from login page */
}

.content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
}

#searchBox {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    background-color: #428235; /* Match button color from login page */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    margin: 15px auto;
    cursor: pointer;
    text-align: center;
    display: block;
}

.btn:hover {
    background-color: #365e28; /* Slightly darker green on hover */
}

#grain {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.table-container {
    overflow-y: auto;
    max-height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.table th, .table td {
    color: #555; /* Subtle text color from login labels */
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #428235; /* Matching from login */
    font-size: 16px;
    text-align: center;
}